<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="updateButton(this, '0xLD')" class="ui blue button"> <i
                    class="icon sync"></i>soch kya raha hai lock karde [hax4us]</button>
        </div>
    </div>
</div>
